#commentForm{
  width: 500px;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  margin-top: 30px;
  margin-left: 16em;
}

#name{
  margin-bottom: 15px;
}

.postMsg{
  width: 55px;
  margin-top: 15px;
  background: #e9b563;
  border: none;
  padding: 5px;
}