.login{
    float: left;
    margin-left: 20px;
    margin-top: 50px;
    font-family: Arial,sans-serif;
    display: none;
}

#login{
    margin-top: 5px;
    margin-bottom: 20px;
    display: none;
}

#password{
    margin-top: 5px;
    margin-bottom: 20px;
    display: none;
}

.send{
    border: none;
    background: #ffce60;
    width: 159px;
    height: 33px;
    cursor: pointer;
    display: none;
}

input{
    height: 25px;
    display: none;
}

.signIn{
    color: #ffffff;
    font-family: Verdana,sans-serif;
    position: relative;
    top: 1em;
    left: 3em;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 6px;
}