.login {
  margin-left: 2em;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-flow: column;
}

#login {
  margin-top: 5px;
  margin-bottom: 20px;
  height: 25px;
}

#password {
  margin-top: 5px;
  margin-bottom: 20px;
  height: 25px;
}

.send {
  border: none;
  background: #ffce60;
  width: 159px;
  height: 33px;
  cursor: pointer;
}
